body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 820px;
}

a {
  color: #00B7FF;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.deck
{
	width:100%;
	max-width: 5000px;
	margin: 10px auto;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
}

.card
{
	width: 35px;
	height: 35px;
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 11pt;
	text-align: center;
	color:black;
	margin: 3px;
}

.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
}